<h2>Legg til ny bok i samlingen din</h2>


<%= form_for @book, :url => "create" do |b| %>
	<fieldset>
		<legend>Legg til ny bok</legend>
		<%= b.label :name, "Bokens navn"%>
		<%= b.text_field :name %>
		<%= b.label :author, "Forfatter"%>
		<%= b.text_field :author%>
		<%= b.label :publisher, "Forlag"%>
		<%= b.text_field :publisher%>
		<%= b.label :language, "Språk"%>
		<%= b.text_field :language%>
		<%= b.label :isbn, "ISBN"%>
		<%= b.text_field :isbn %>
	</fieldset>
	<%= b.submit "Lagre ny bok i samling!"%>

<% end %>
