<!DOCTYPE html>
<html>
<head>
  <title>Borrow</title>	
	<%= stylesheet_link_tag		 "print", :media => "print" %>
	<%= stylesheet_link_tag		 "screen", :media => "screen"%>
	<%= stylesheet_link_tag		 "borrow"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<nav id="top_menu">
		<% if session[:username] && session[:user_id]%>
			<%= render :partial => "shared/logged_in" %>
		<% else %>
		 	<%=	render :partial => "shared/not_logged_in" %>
		<% end %>
	</nav>
			
	<header>
		<h1><%= link_to "Byttelåne", :controller => "pages"%></h1>
	</header>
	<div id="wrapper">
		<nav id="main_nav">
			<ul>
				<li><%= link_to "Hva er byttelåne?", :controller => "pages", :action =>"om"%></li>
				<li><%= link_to "Finn noe kult", :controller => "pages", :action => "topp"%></li>
				<li><%= link_to "Bli med", :controller => "user", :action => "register"%></li>
			</ul>
		</nav>
		<%= "<div class='success'>#{flash[:success]}</div>".html_safe if not flash[:success].nil?%>
		<%= "<div class='notice'>#{flash[:notice]}</div>".html_safe if not flash[:notice].nil?%>
		<%= "<div class='error'>#{flash[:error]}</div>".html_safe if not flash[:error].nil?%>
		<article>
		<%= yield %>
		</article>
	</div>
	<footer>
	<nav>
		<ul>
			<li><%= link_to "Om siden",:controller => "pages", :action => "om"%></li>
			<li><%= link_to "Hvorfor byttelåne", :controller => "pages", :action => "hvorfor"%></li>
			<li><%= link_to "Kontakt oss", :controller => "pages", :action => "kontakt"%></li>
		</ul>
	</nav>
		<p>This page is made by Ola Loevholm</p>
	</footer>
</div>

</body>
</html>
